*.iml
.gradle
/local.properties
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild


app/src/debug/res/values/google_maps_api\.xml

gradle\.properties

app/src/release/res/values/google_maps_api\.xml

\.idea/caches/

\.idea/codeStyles/
